
  <h1>Create Article Here: </h1>

  <form method= "POST" action="/articles">
  <label>Title:</label>
  <input type="text" id="title" name="title">
  
  <label>Content:</label>
  <input type="text" id="content" name="content">
  
  <input type="submit" id="submit" name="submit">
  </form>
  